*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-family: Arial;
    color: blue;
     #subtitle{
    color: black;


 }
 }

 section{
        font-family: Arial;
        color: blue;
        font-size:18px;
 }

 article{
    #ia{
        color: red;
    }
}

    #html{
        color: red;
    }

    section2{
        font-size: 18px;
        color: blue;
    }

    article2{
        #jogos{
            color: red;
        }
    }

    article3{
        #lopal{
            color: red;
        }
    }

    aside{
        text-align: center;
        h2{
            color: blue;
        }
        margin-top: 3%;
    }

    footer{
        text-align: center;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        letter-spacing: 3px;
    }
